.styled-addNote-container{
    /* background-color: white; */
    border-radius: 10px;
    width: 10%;
    padding-right: 4%;
    margin-left: 10px;
    padding-top: 10px;
    

}

.styled-addNote{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 20px;
    background-color: #3498db;
    width: 300px;
    height: 302px;
    border-radius: 10px;
    
}



.addNew{
    padding: 0;
    font-size: 16px;
    border: none;
    background-color: #3498db;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 302px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}


.styled-addNotes{
    background-color: blue;
    height: 302px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.styled-addNote-buttons{
    position: relative;
    margin: 62px;
    padding: 0;
    left: 30px;
    margin-top: 0;
    display: flex;
    gap: 5px;
    
}

.styled-addNotes-label{
    font-size: 14px;
    color: white;
    font-weight: 700;
    margin: auto;
    align-items: center;
    margin-top: 60%;
    margin-left: 1%;
}

.styled-addNotes-icon {
    height: 100px;
    width: 100px;
    bottom: 40px;
    left: 34%;
    border: 2px dashed white;
    border-radius: 50%;
    margin-bottom: 10px;
    position: relative; /* prepare for 'absolute'*/
    
}

.styled-addNotes-icon::before, .styled-addNotes-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%); 
    width: 30px;
    background-color: white;
    height: 2px;
   
}

.styled-addNotes-icon::after{
    height: 30px;
    width: 2px;
    position: absolute;
    top: 35%;
    left: 49%;
    
}

.styled-addNotes-icon::before{
    height: 2px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 35%;

}
