.styled-input {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  width: 190px;
}

.styled-input.maxWidth {
  width: 100%;
}

.styled-input-label {
  padding: inherit;
  font-size: 14px;
  color: #000000;
}

.styled-input-form {
  border: solid  #9f9090 0.1rem;
  border-radius: 0.2rem;
  font-size: 16px;
  color: #141414;
  height: 30px;
  padding-left: 10px;
  width: 100%;
}

.styled-input-form::placeholder {
  color: #c2c2c2;
}