.styled-trello-openModal-button {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 30px;
}
.styled-trello {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
