.styled-textArea {
  display: inline-flex;
  flex-direction: column;
  width: 250px;
}

.styled-textArea.maxWidth {
  width: 100%;
}

.styled-textArea-label {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 2px;
}

.styled-textArea-form {
  border: solid #9f9090 0.1rem;
  border-radius: 0.2rem;
  font-size: 16px;
  color: #141414;
  width: 100%;
  resize: none;
  outline: none;
  padding: 5px;
}

.styled-textArea-form.backgroundColor-white {
  background-color: white;
}

.styled-textArea-form.backgroundColor-gray {
  background-color: rgb(233, 233, 233);
  border-color: #e9e9e9;
}
