.styled-tabs {
  width: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 12px;
  
}

.styled-tabs-button {
  text-decoration: none;
  color: #333333;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.styled-tabs-button.active {
  color: blue; 
  position: relative; 
}

.styled-tabs-button.active::after {
  content: "";
  position: absolute;
  bottom: -2px; 
  left: 0; 
  right: 0;
  height: 2px; 
  background-color: blue;
  margin: 0 5px; 
}