
.styled-todo {
    width: 350px;
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0 auto;    
    border-radius: 8px;

  }
  
.styled-todo-tabs{
    display: flex;
    padding-bottom: 10px;
      cursor:pointer;
}

.styled-tabs {
    margin-right: auto;

  }
  .styled-button {
    margin-left: auto;
    

  }

  .styled-input{
    width: 320px;

  }
  
  .styled-todo-tabs-end {
    border-bottom: 1px solid #9f9090;
    width: 390px;
    margin-left: -20px;
  }

  .styled-todo-list-end {
    border-bottom: 1px solid #9f9090;
    width: 390px;
    margin-left: -20px;
    padding-top:20px;
  }

  