.styled-checkbox-list {
    display: flex;
    flex-direction: column; 
    max-width: 400px; 


  }
  
  .styled-checkbox-list-checkboxLabel {
    display: flex;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #9f9090; /* Her öğe arasına çizgi ekle */


  }
  
  .styled-checkbox-list-dropdown {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: auto;
  }
  

  
  
