.styled-card-detail-list {
  display: inline-flex;
  flex-direction: column;
  width: 290px;
  min-height: 100px;
  background-color: whitesmoke;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.styled-card-detail-list-button {
  position: absolute;
  display: none;
}

.styled-card-detail-list:hover .styled-card-detail-list-button {
  display: block;
  left: 200px;
  top: 10px;
}

.styled-card-detail-list-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: green;
  font-size: 1.5rem;
  margin-top: 60px;
}

.styled-card-detail-list-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-card-detail-list-cardDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
